[defaults]
inventory = inventories/dev/hosts.yml
remote_user = ansible
interpreter_python=/usr/bin/python3.13
vault_password_file=./pass-vault.sh

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new